<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{TITLE}} - Vitor Felix</title>

    <link rel="stylesheet" href="{{PREFIX}}css/style.css">
</head>

<body>

<div class="container">

<header>
    <h1>{{TITLE}}</h1>
</header>

<nav>
    <a href="{{PREFIX}}index.html">Home</a> |
    <a href="{{PREFIX}}blog.html">Blog</a>
</nav>

<main>

{{CONTENT}}

</main>

<footer>
    <p>© 2026 Vitor Felix ☕</p>
</footer>

</div>

</body>
</html>
